body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border: 5px solid #004046;
    border-radius: 80px;
    box-shadow: 5px 5px 5px #393d3d;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #c1cfda;
    color: #492c1d;
    border-bottom: 6px solid #006d77;
    /* font-style: italic; */
    border-radius: 30px;
}

.border-blue {
    border: 1px dotted blue;
}

.user-info {
    margin: auto;
    text-shadow: 2px 2px 5px #393d3d;
}

p {
    font-weight: bold;
}

.user-email {
    outline: 2px solid transparent; /* Initial transparent outline */
    padding: 2px 10px;
    border-radius: 20px;
}
.user-email:hover {
    /* border: 2px solid #a186e9; */
    outline-color: #a186e9; /* adds outline to hover */
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #c4ab92;
}

.map a{
    text-decoration: none;
    color: #492c1d;

}

.map a:hover {
    border: 2px solid #a186e9;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #c4ab92;
}